/* ImageModal.module.css */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Запобігти прокручуванню */
}

.modal {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* Запобігти прокручуванню всередині модального вікна */
}

.modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Зберігає пропорції зображення */
  display: block;
  background-origin: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-origin: none;
}

.modal img:focus {
  outline: none; /* Забирає фокусну рамку */
}

.close {
  display: none; /* Сховати хрестик */
}